<header>
    <h1>Admin Page</h1>
</header>
<section class="mt-3 container-fluid">
    <a class="mb-2 btn btn-primary" [routerLink]="'/admin/add'">Add Fruit</a>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let slno = index">
                    <td>{{ product.productId }}</td>
                    <td>{{ product.productName }}</td>
                    <td><img [src]="product.productImageURL" alt="not found"></td>
                    <td>{{ product.productDescription }}</td>
                    <td>{{ '&#8377; ' + product.productPrice }}</td>
                    <td>
                        <a class="btn btn-success m-3" [routerLink]="'/admin/add'"
                            [queryParams]="{id: product.productId}">Update</a>
                        <button type="button" class="btn btn-danger" (click)="onRemove(product.productId)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>