<form>
<h1>Contact Information</h1>
	<p>Address: A/54, Saheed Nagar Rd, Saheed Nagar, Bhubaneswar, Odisha 751007</p>
	<p>Contact Number: +91 9437010139</p>
  <p>Email: javatechnocrat54@gmail.com </p><br>
	<ul>
		<li><a href="https://www.instagram.com/myusername" target="_blank" class="instagram">
            <i class="fa-brands fa-instagram"></i>
        </a></li>

		<li><a href="https://www.facebook.com/myusername" target="_blank" class="facebook">
            <i class="fa-brands fa-facebook"></i>
        </a></li>
		<li><a href="https://www.linkedin.com/in/myusername" target="_blank" class="linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a></li>
	</ul>
</form>
