.payment-from {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="password"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="email"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="tel"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  
  .submit{
    display: flex;
    align-items: center;
  }