<nav class="navbar navbar-light bg-secondary">
  <div class="container-fluid">
    <h1> My Orders</h1>
  </div>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Shose Name </th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="orders.length == 0">
      <td colspan="5">No item added</td>
    </tr>
    <tr *ngFor="let order of orders; let idx = index">
      <th scope="row">{{idx + 1}}</th>
      <td>{{order['product']['productName']}}</td>
      <td>{{order['counter']}}</td>
      <td>{{order['product']['productPrice']}}</td>
      <td>
        <button class="btn btn-success">Delivered</button>
      </td>
    </tr>
  </tbody>
</table>