.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
  }
  .search-icon {
    position: absolute;
    z-index: 8;
    right: 52%;
    top: 25px;
    color: black;
  }
  
  .shoping{
  position: absolute;
  left: 90%;
  }
  
  .ul.links li{
    margin: 0;
    padding: 0;
    list-style: none ;
  }
  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-row div:last-child button {
    all: unset;
    cursor: pointer;
  }
  .button-row div:last-child {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .card img {
    width: 280px;
    height: 150px;
  }
  
  .jt-card:hover {
    box-shadow: 5px 10px 5px rgb(112, 151, 112);
    
  }
  
  .content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .social-link{
    color: #ccc;
   }
  