<header>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <div class="m-1 toggle-button">
        <button class="btn" (click)="showSide = !showSide"><i class="fa-solid fa-bars text-light"></i></button>
        <div *ngIf="showSide">
          <app-sidenav></app-sidenav>
        </div>
      </div>

      <div class=" from-group">
        <input type="text" class="form-control" placeholder="search product"
          [(ngModel)]="searchItem">
      </div>
      <span class="fas fa-search search-icon" (click)="fruitsItems"></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <H2><i>FRUIT SHOPING</i></H2>
    </div>


    <div class="shoping" href="#" [routerLink]="'/cart'">
      <a class="btn btn-success">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">+</div>
      </a>
    </div>

    <div class="toggle-button">
      <a class="btn btn-success " routerLink="/orders">
        <h3><i class="fa-solid fa-bag-shopping"></i></h3>
      </a>
    </div>
  </div>
</header>

<section class="jt-carousel">
  <div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/immages/images11.png" height="300rem"
            class="d-block w-100"
            alt="#carouselExampleControls">
        </div>
        <div class="carousel-item">
          <img src="../assets/immages/images13.png" height="300rem"
            class="d-block w-100"
            alt="#carouselExampleControls">
        </div>
        <div class="carousel-item">
          <img src="../assets/immages/images12.png" height="300rem"
            class="d-block w-100"
            alt="#carouselExampleControls">
        </div>
      </div>
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section class="jt-card mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 jt-card mt-3 " *ngFor="let product of fruitsItems()">
        <div class="card">
          <div class="card-body">
            <img [src]="product.productImageURL" alt="img">
            <h5 class="card-title">{{ product.productName }}</h5>
            <h5 class="card-price">Price = <span #price_ptag>{{
                product.productPrice }}</span></h5>
            <p class="card-text">{{ product.productDescription }}</p>
            <div class="button-row">
              <div>
                <button class="btn btn-success"
                  (click)="addCart(product.productId, product.counter)">Add
                  to Cart</button>

              </div>
              <div>
                <button (click)="counterClien('+',
                  product.productId)">+</button>
                <span>{{ product.counter }}</span>
                <button (click)="counterClien('-',
                  product.productId)">-</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>