.payment-from{
  min-height: 100vh;
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/354/754/desktop-wallpaper-assortment-of-tropical-citrus-fruits-backgrounds-cute-spring-fruits.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.container {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="password"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="email"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  input[type="tel"], select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 16px;
    color: #555;
  }
  
  .submit{
    display: flex;
    align-items: center;
  }