<div class="container">
    <form #loginform="ngForm" (submit)="onLogin(loginform)">
        <h1>Login</h1>
        <label for="username">Email</label>
        <input type="text" id="username" 
            name="customerEmail"
            required ngModel>

        <label for="password">Password</label>
        <input type="password" id="password"  name="customerPassword" required ngModel>
        <div class="Register">
            <button class="btn btn-primary btn-rounded1" routerLink="/address">Register
                Here</button>
                <button class="btn btn-success btn-rounded" type="submit"
                    value="Login">Login</button>
        </div>
    </form>
</div>