<nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
        <h1> My Orders</h1>
    </div>
</nav>
<!-- <table class="table">
    <thead>
        <th>no.</th>
        <th>Fruit Name</th>
        <th>kg</th>
        <th>Price</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>

            <td>1</td>
            <td>Apple</td>
            <td>2kg</td>
            <td>Rs-200</td>
            <td>
                <button class="btn btn-success">Bye Now</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table> -->
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fruit Name </th>
        <th scope="col">kg</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Apple</td>
        <td>2</td>
        <td>200</td>
        <td>
             <button class="btn btn-success">Bye Now</button>
            <button class="btn btn-danger  mx-3 ">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>